<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjs.treewiki.dao.node.TreeContentMapper" >
  <resultMap id="BaseResultMap" type="com.wjs.treewiki.model.node.TreeContent" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="lockby" property="lockby" jdbcType="VARCHAR" />
    <result column="lockby_id" property="lockbyId" jdbcType="BIGINT" />
    <result column="lockby_name" property="lockbyName" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wjs.treewiki.model.node.TreeContent" extends="BaseResultMap" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, item_id, lockby, lockby_id, lockby_name, create_datetime
  </sql>
  <sql id="Blob_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.wjs.treewiki.model.node.TreeContentCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tree_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wjs.treewiki.model.node.TreeContentCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tree_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tree_content
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="lockByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tree_content
    where id = #{id,jdbcType=BIGINT} for update 
  </select>
  <select id="lockByExample" resultMap="BaseResultMap" parameterType="com.wjs.treewiki.model.node.TreeContentCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <include refid="Base_Column_List" />
    from tree_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
     for update 
  </select>
  <select id="pageByExample" resultMap="BaseResultMap" parameterType="com.wjs.treewiki.model.node.TreeContentCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tree_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="lastInsertId" resultType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
      select case lastId when 0 then 'can not get last insert id' else lastId end as lastId from ( select  LAST_INSERT_ID() lastId ) s1  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from tree_content
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wjs.treewiki.model.node.TreeContentCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from tree_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wjs.treewiki.model.node.TreeContent" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into tree_content (id, item_id, lockby, 
      lockby_id, lockby_name, create_datetime, 
      content)
    values (#{id,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, #{lockby,jdbcType=VARCHAR}, 
      #{lockbyId,jdbcType=BIGINT}, #{lockbyName,jdbcType=VARCHAR}, #{createDatetime,jdbcType=BIGINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wjs.treewiki.model.node.TreeContent" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into tree_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="lockby != null" >
        lockby,
      </if>
      <if test="lockbyId != null" >
        lockby_id,
      </if>
      <if test="lockbyName != null" >
        lockby_name,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="lockby != null" >
        #{lockby,jdbcType=VARCHAR},
      </if>
      <if test="lockbyId != null" >
        #{lockbyId,jdbcType=BIGINT},
      </if>
      <if test="lockbyName != null" >
        #{lockbyName,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wjs.treewiki.model.node.TreeContentCriteria" resultType="java.lang.Integer" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select count(*) from tree_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_content
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=BIGINT},
      </if>
      <if test="record.lockby != null" >
        lockby = #{record.lockby,jdbcType=VARCHAR},
      </if>
      <if test="record.lockbyId != null" >
        lockby_id = #{record.lockbyId,jdbcType=BIGINT},
      </if>
      <if test="record.lockbyName != null" >
        lockby_name = #{record.lockbyName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDatetime != null" >
        create_datetime = #{record.createDatetime,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_content
    set id = #{record.id,jdbcType=BIGINT},
      item_id = #{record.itemId,jdbcType=BIGINT},
      lockby = #{record.lockby,jdbcType=VARCHAR},
      lockby_id = #{record.lockbyId,jdbcType=BIGINT},
      lockby_name = #{record.lockbyName,jdbcType=VARCHAR},
      create_datetime = #{record.createDatetime,jdbcType=BIGINT},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_content
    set id = #{record.id,jdbcType=BIGINT},
      item_id = #{record.itemId,jdbcType=BIGINT},
      lockby = #{record.lockby,jdbcType=VARCHAR},
      lockby_id = #{record.lockbyId,jdbcType=BIGINT},
      lockby_name = #{record.lockbyName,jdbcType=VARCHAR},
      create_datetime = #{record.createDatetime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjs.treewiki.model.node.TreeContent" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_content
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="lockby != null" >
        lockby = #{lockby,jdbcType=VARCHAR},
      </if>
      <if test="lockbyId != null" >
        lockby_id = #{lockbyId,jdbcType=BIGINT},
      </if>
      <if test="lockbyName != null" >
        lockby_name = #{lockbyName,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wjs.treewiki.model.node.TreeContent" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_content
    set item_id = #{itemId,jdbcType=BIGINT},
      lockby = #{lockby,jdbcType=VARCHAR},
      lockby_id = #{lockbyId,jdbcType=BIGINT},
      lockby_name = #{lockbyName,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjs.treewiki.model.node.TreeContent" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_content
    set item_id = #{itemId,jdbcType=BIGINT},
      lockby = #{lockby,jdbcType=VARCHAR},
      lockby_id = #{lockbyId,jdbcType=BIGINT},
      lockby_name = #{lockbyName,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>