<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjs.treewiki.dao.node.TreeItemMapper" >
  <resultMap id="BaseResultMap" type="com.wjs.treewiki.model.node.TreeItem" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="p_id" property="pId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="icon_skin" property="iconSkin" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="BIGINT" />
    <result column="modify_datetime" property="modifyDatetime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, p_id, name, icon_skin, sort, create_datetime, modify_datetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wjs.treewiki.model.node.TreeItemCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tree_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from tree_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="lockByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from tree_item
    where id = #{id,jdbcType=BIGINT} for update 
  </select>
  <select id="lockByExample" resultMap="BaseResultMap" parameterType="com.wjs.treewiki.model.node.TreeItemCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <include refid="Base_Column_List" />
    from tree_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
     for update 
  </select>
  <select id="pageByExample" resultMap="BaseResultMap" parameterType="com.wjs.treewiki.model.node.TreeItemCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tree_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="lastInsertId" resultType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
      select case lastId when 0 then 'can not get last insert id' else lastId end as lastId from ( select  LAST_INSERT_ID() lastId ) s1  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from tree_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wjs.treewiki.model.node.TreeItemCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from tree_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wjs.treewiki.model.node.TreeItem" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into tree_item (id, p_id, name, 
      icon_skin, sort, create_datetime, 
      modify_datetime)
    values (#{id,jdbcType=BIGINT}, #{pId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{iconSkin,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createDatetime,jdbcType=BIGINT}, 
      #{modifyDatetime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wjs.treewiki.model.node.TreeItem" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into tree_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="iconSkin != null" >
        icon_skin,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="modifyDatetime != null" >
        modify_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="iconSkin != null" >
        #{iconSkin,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=BIGINT},
      </if>
      <if test="modifyDatetime != null" >
        #{modifyDatetime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wjs.treewiki.model.node.TreeItemCriteria" resultType="java.lang.Integer" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select count(*) from tree_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pId != null" >
        p_id = #{record.pId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.iconSkin != null" >
        icon_skin = #{record.iconSkin,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.createDatetime != null" >
        create_datetime = #{record.createDatetime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyDatetime != null" >
        modify_datetime = #{record.modifyDatetime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_item
    set id = #{record.id,jdbcType=BIGINT},
      p_id = #{record.pId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      icon_skin = #{record.iconSkin,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      create_datetime = #{record.createDatetime,jdbcType=BIGINT},
      modify_datetime = #{record.modifyDatetime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjs.treewiki.model.node.TreeItem" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_item
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="iconSkin != null" >
        icon_skin = #{iconSkin,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=BIGINT},
      </if>
      <if test="modifyDatetime != null" >
        modify_datetime = #{modifyDatetime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjs.treewiki.model.node.TreeItem" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update tree_item
    set p_id = #{pId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      icon_skin = #{iconSkin,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=BIGINT},
      modify_datetime = #{modifyDatetime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>